@import "reset.css";
body {
    /* overflow: hidden; */
    background-color: #38ABFF;
    font-family: 'PT Mono', monospace;
  }

@font-face {
  font-family: 'PT Mono', monospace;
  src: url('.../fonts/PTMono-Regular.ttf');
}

h1 {
  font-size: 80px;
  color: white;
  text-align: center;
  padding-top: 10vh;
}

  /* .ground {
    position: absolute;
    top: 1000px;
    background-color: #C0E3B9;
    height: 100vh;
  } */

.header {
  height: 100vh;
  text-align: center;
}


.oblako {
  width: 60vh;
  align-items: center;
}

.oblaka {
 overflow: hidden;
 padding-top: 10vh;
}

.oblako_1 {
  width: 60vh;
  align-items: center;
  position: relative;
  display: inline-block;
}
.cloud_1 {
  width: 100%;
}
.move {
  animation-name: move_1;
  animation-duration: 18s, 1s;
  animation-timing-function: ease-in-out;
  animation-delay: 1s, 0;
  animation-iteration-count: infinite, infinite;
  animation-direction: alternate;
}
@keyframes move_1 {
  from {margin-left: 0;}
  to {margin-left: 100%;}
}
.animal {

  position: absolute;
  width: 30%;
  left: 50%;
  top: -10%;
  opacity: 0;
  transition: opacity 2s;
}
.an_1 {
  width: 70%;
  top: -30%;
}

.an_2 {
  width: 70%;
}

.an_3 {
  width: 20%;
}

.an_4 {
  width: 50%;
}

.an_5 {
  width: 50%;
}

.an_6 {
  width: 50%;
}

.an_7 {
  width: 50%;
}

.an_8 {
  width: 20%;
}

.an_9 {
  width: 20%;
}

.an_10 {
  width: 60%;
}

.an_11 {
  width: 60%;
}

.an_12 {
  width: 60%;
  top: -30%;
}

.an_13 {
  width: 60%;
  top: -30%;
}


.oblako_2 {

}

.oblako_3 {

}

.oblako_4 {

}

.oblako_5 {

}

.oblako_6 {

}

.oblako_7 {

}

.oblako_8 {

}

.oblako_9 {

}

.oblako_10 {

}

.oblako_11 {

}

.oblako_12 {

}

.oblako_13 {

}

.oblako_14 {

}

.oblako_15 {

}

.oblako_16 {

}

.oblako_17 {

}

.oblako_18 {

}

.oblako_19 {

}

.oblako_20 {

}

.oblako_21 {

}

.oblako_22 {

}

.oblako_23 {

}
