@import "reset.css";
body {
    /* overflow: hidden; */
    background-color: #38ABFF;
    font-family: 'PT Mono', monospace;
  }

@font-face {
  font-family: 'PT Mono', monospace;
  src: url('.../fonts/PTMono-Regular.ttf');
}

h1 {
  font-size: 80px;
  color: white;
  text-align: center;
  padding-top: 10vh;
}

  /* .ground {
    position: absolute;
    top: 1000px;
    background-color: #C0E3B9;
    height: 100vh;
  } */

.header {
  height: 100vh;
  text-align: center;
}


.oblako {
  width: 60vh;
  align-items: center;
}

.oblaka {
 overflow: hidden;
}

.oblako_1 {
  width: 60vh;
  align-items: center;
  position: relative;
}
.cloud_1 {
  width: 100%;
}
.animal {
  position: absolute;
  width: 30%;
  left: 45%;
  top: -10%;
}
.an_1 {
  width: 70%;
}

.an_2 {
  width: 60%;
}

.an_3 {
  width: 60%;
}

.an_4 {
  width: 60%;
}

.an_5 {
  width: 60%;
}

.oblako_2 {

}

.oblako_3 {

}

.oblako_4 {

}

.oblako_5 {

}

.oblako_6 {

}

.oblako_7 {

}

.oblako_8 {

}

.oblako_9 {

}

.oblako_10 {

}

.oblako_11 {

}

.oblako_12 {

}

.oblako_13 {

}

.oblako_14 {

}

.oblako_15 {

}

.oblako_16 {

}

.oblako_17 {

}

.oblako_18 {

}

.oblako_19 {

}

.oblako_20 {

}

.oblako_21 {

}

.oblako_22 {

}

.oblako_23 {

}